<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>PaasTa</title>
    <script type="text/javascript" src='/js/jquery-1.12.4.min.js'></script>
</head>
<body>
    <div>
        <button onclick="javascript:go1();">ownEureka</button>
        <button onclick="javascript:go2();">ownZuul</button>
        <button onclick="javascript:go3();">twoEureka</button>
        <button onclick="javascript:go4();">twoZuul</button>
    </div>
    <div id="result">

    </div>
</body>

<script>
    function go1() {
        $.ajax({
            url: "/eureka/1",
            success: function(data) {
                console.log(data);
                $("#result").html(data.result);
            },
            error: function(error) {
                console.log(error);
                $("#result").html(data.result);
            }
        });
    }

    function go2() {
        $.ajax({
            url: "/zuul/1",
            success: function(data) {
                console.log(data);
                $("#result").html(data.result);
            },
            error: function(error) {
                console.log(error);
                $("#result").html(data.result);
            }
        });
    }

    function go3() {
        $.ajax({
            url: "/eureka/servicePackCatalog/list",
            success: function(data) {
                console.log(data);
                $("#result").html(data.result);
            },
            error: function(error) {
                console.log(error);
                $("#result").html(data.result);
            }
        });
    }

    function go4() {
        $.ajax({
            url: "/zuul/servicePackCatalog/list",
            success: function(data) {
                console.log(data);
                $("#result").html(data.result);
            },
            error: function(error) {
                console.log(error);
                $("#result").html(data.result);
            }
        });
    }
</script>
</html>


